@use '../../../styles/global' as *;

.select {
  width: 100%;
  padding: 10px 14px;
  border: 1px solid $color-border;
  border-radius: $border-radius-md;
  font-size: $font-size-md;
  color: $color-text;
  background: $color-bg;
  outline: none;

  &:focus {
    border-color: $color-primary;
  }

  &:disabled {
    background: $color-bg-sidebar;
    color: #999;
    cursor: not-allowed;
  }
}

.selectError {
  border-color: $color-error;
}
