@use './global' as *;

.header {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  padding: 0 24px;
  height: 60px;
  background: $color-bg;
  border-bottom: 1px solid $color-border;
}

.headerLogo {
  height: 56px;
  width: 100%;
}

.headerAvatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}
