@use './global' as *;

.nav {
  width: 220px;
  min-height: 100%;
  background: $color-bg-sidebar;
  border-right: 1px solid $color-border;
  padding: $space-md;
  display: flex;
  flex-direction: column;
  gap: $space-sm;
}

.nav a {
  padding: 10px 14px;
  border-radius: $border-radius-md;
  text-decoration: none;
  color: $color-text;
}

.nav a:global(.active) {
  background: $color-primary;
  color: $color-bg;
}

