nav {
  width: 220px;
  min-height: 100%;
  background: #f9f9f9;
  border-right: 1px solid #e5e4e7;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

nav a {
  padding: 10px 14px;
  border-radius: 8px;
  text-decoration: none;
  color: #333;
}

nav a.active {        /* NavLink сам добавляет этот класс */
  background: #aa3bff;
  color: #fff;
}
